
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styleTrivia.css">
    <link rel="stylesheet" type="text/css" href="css/styleTrivia.css">
    <title>triviaPage</title>
</head>


<div class="container shadow">
    <!--timeDisplay-->
    <div class="timerDisplay">
        <span>score</span>
    </div>
    <!-- coloumn1-->
    <div class="row">
            <!-- card1-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon1.JPG">
                </div>
                <div class="face face2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus.</p>
                    <div class="answers">
                        <button>David Dawkins</button>
                        <button>11/59/03</button>
                        <button>Not Another Teen Movie</button>
                        <button>lizards</button>
                    </div>
                </div>
            </div>
            <!-- card2-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon1.JPG">
                </div>
                <div class="face face2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus.</p>
                    <div class="answers">
                        <button>Lord Of The Rings</button>
                        <button>horses</button>
                        <button>Mr. T</button>
                        <button>$1,255,072.00</button>
                    </div>
                </div>
            </div>
            <!-- card3-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon1.JPG">
                </div>
                <div class="face face2">
                    <p>Aenean id augue quis ante pharetra aliquam in at turpis.</p>
                    <div class="answers">
                        <button>Pikachu</button>
                        <button>Playstation 5</button>
                        <button>November 20, 2020</button>
                        <button>All the Above</button>
                    </div>
                </div>
            </div>
            <!-- card4-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon1.JPG">
                </div>
                <div class="face face2">
                    <p>Nam lacinia vitae risus ac cursus. Sed vestibulum pharetra ex sed aliquet.</p>
                    <div class="answers">
                        <button>January 20, 1990</button>
                        <button>November 20, 1859</button>
                        <button>April 1, 1957</button>
                        <button>September 11, 2020</button>
                    </div>
                </div>
            </div>
    </div>
    <!-- coloumn2-->
    <div class="row">
            <!-- card1-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon2.JPG">
                </div>
                <div class="face face2">
                    <p>Proin eget tortor blandit, tincidunt nisi et, consectetur odio.</p>
                    <div class="answers">
                        <button>{{Answer:A}}</button>
                        <button>{{Answer:B}}</button>
                        <button>{{Answer:C}}</button>
                        <button>{{Answer:D}}</button>
                    </div>
                </div>
            </div>
            <!-- card2-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon2.JPG">
                </div>
                <div class="face face2">
                    <h3>Question Content</h3>
                    <p>Question</p>
                    <div class="answers">
                        <button>{{Answer:A}}</button>
                        <button>{{Answer:B}}</button>
                        <button>{{Answer:C}}</button>
                        <button>{{Answer:D}}</button>
                    </div>
                </div>
            </div>
            <!-- card3-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon2.JPG">
                </div>
                <div class="face face2">
                    <h3>Question Content</h3>
                    <p>Question</p>
                    <div class="answers">
                        <button>{{Answer:A}}</button>
                        <button>{{Answer:B}}</button>
                        <button>{{Answer:C}}</button>
                        <button>{{Answer:D}}</button>
                    </div>
                </div>
            </div>
            <!-- card4-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon2.JPG">
                </div>
                <div class="face face2">
                    <h3>Question Content</h3>
                    <p>Question</p>
                    <div class="answers">
                        <button>{{Answer:A}}</button>
                        <button>{{Answer:B}}</button>
                        <button>{{Answer:C}}</button>
                        <button>{{Answer:D}}</button>
                    </div>
                </div>
            </div>
    </div>
    <!-- coloumn3-->
    <div class="row">
          <!-- card1-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon3.JPG">
                </div>
                <div class="face face2">
                    <h3>Question Content</h3>
                    <p>Question</p>
                    <div class="answers">
                        <button>{{Answer:A}}</button>
                        <button>{{Answer:B}}</button>
                        <button>{{Answer:C}}</button>
                        <button>{{Answer:D}}</button>
                    </div>
                </div>
            </div>
            <!-- card2-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon3.JPG">
                </div>
                <div class="face face2">
                    <h3>Question Content</h3>
                    <p>Question</p>
                    <div class="answers">
                        <button>{{Answer:A}}</button>
                        <button>{{Answer:B}}</button>
                        <button>{{Answer:C}}</button>
                        <button>{{Answer:D}}</button>
                    </div>
                </div>
            </div>
            <!-- card3-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon3.JPG">
                </div>
                <div class="face face2">
                    <h3>Question Content</h3>
                    <p>Question</p>
                    <div class="answers">
                        <button>{{Answer:A}}</button>
                        <button>{{Answer:B}}</button>
                        <button>{{Answer:C}}</button>
                        <button>{{Answer:D}}</button>
                    </div>
                </div>
            </div>
            <!-- card4-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon3.JPG">
                </div>
                <div class="face face2">
                    <h3>Question Content</h3>
                    <p>Question</p>
                    <div class="answers">
                        <button>{{Answer:A}}</button>
                        <button>{{Answer:B}}</button>
                        <button>{{Answer:C}}</button>
                        <button>{{Answer:D}}</button>
                    </div>
                </div>
            </div>
    </div>
    <!-- coloumn4-->
    <div class="row">
          <!-- card1-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon1.JPG">
                </div>
                <div class="face face2">
                    <p>Vivamus nec libero nec nisi aliquam egestas ut vitae orci.</p>
                    <div class="answers">
                        <button>{{Answer:A}}</button>
                        <button>{{Answer:B}}</button>
                        <button>{{Answer:C}}</button>
                        <button>{{Answer:D}}</button>
                    </div>
                </div>
            </div>

            <!-- card2-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon1.JPG">
                </div>
                <div class="face face2">
                    <p>Donec sollicitudin, mauris pretium pellentesque porta, mauris enim suscipit arcu, eu commodo urna ligula sed orci.</p>
                    <div class="answers">
                        <button>{{Answer:A}}</button>
                        <button>{{Answer:B}}</button>
                        <button>{{Answer:C}}</button>
                        <button>{{Answer:D}}</button>
                    </div>
                </div>
            </div>
            <!-- card3-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon1.JPG">
                </div>
                <div class="face face2">
                    <p>Nullam velit lorem, tristique vel cursus sed, convallis et lacus.</p>
                    <div class="answers">
                        <button>{{Answer:A}}</button>
                        <button>{{Answer:B}}</button>
                        <button>{{Answer:C}}</button>
                        <button>{{Answer:D}}</button>
                    </div>
                </div>
            </div>
            <!-- card4-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon1.JPG">
                </div>
                <div class="face face2">
                    <p> Aliquam molestie justo sit amet lectus accumsan, sed blandit libero finibus.</p>
                    <div class="answers">
                        <button>{{Answer:A}}</button>
                        <button>{{Answer:B}}</button>
                        <button>{{Answer:C}}</button>
                        <button>{{Answer:D}}</button>
                    </div>
                </div>
            </div>
    </div>
    <div class="extra row">
    <div class="scoreDisplay">
        <span>score</span>
    </div>
    
    <!--answerDisplay-->
    <div class="answerDisplay">
        <ol>
            <li>A:</li>
            <li>B:</li>
            <li>C:</li>
            <li>D:</li>
        </ol>
    </div>
    </div>
</div>

   


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- changed the source since i am using a new folder for testing -->
  <script type="text/javascript" src="js/trivia-api.js"></script>